html, body {
  height: 100%;
  font: 100% "Lato", sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #1d488a;
  background-color: #fff;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
  outline: none;
}

p {
  font-size: 16px;
  color: #75849a;
  line-height: 1.6;
}

h2 {
  font-size: 48px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #20509e;
  margin: 0;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0 0 1rem;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
}

button {
  text-align: center;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.footer-widget p {
  margin-bottom: 20px;
}
.footer-widget span {
  color: #acb9cc;
}
.footer-widget .widget-title {
  margin-bottom: 30px;
  font-size: 20px;
}
.footer-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-widget ul a {
  font-size: 16px;
  color: #75849a;
  display: block;
  margin-bottom: 12px;
}
@media (max-width: 575px) {
  .footer-widget {
    margin-bottom: 30px;
  }
}
.footer-bottom {
  border-top: 1px solid #ebebeb;
  padding: 30px 0;
}
.footer-nav {
  list-style: none;
}
.footer-nav li {
  display: inline-block;
}
.footer-nav li a {
  color: #75849a;
  font-size: 14px;
  margin-left: 20px;
}
@media (max-width: 575px) {
  .footer-nav {
    padding: 0;
    margin: 0;
  }
}

.social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  padding-top: 7px;
  font-size: 18px;
}
.social a:last-child {
  margin-right: 0;
}
.social .facebook {
  background: #4b6cd0;
}
.social .google {
  background: #f03b3b;
}
.social .instagram {
  background: #bb8950;
}
.social .twitter {
  background: #49a7f3;
}

.hero-subscribe {
  margin-top: 50px;
  display: block;
}
.hero-subscribe input {
  width: 315px;
  border: 1px solid #e1e1e1;
  background: #fff;
  height: 48px;
  padding: 0 25px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
}

.site-btn {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  min-width: 170px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
.site-btn.sb-gradients {
  padding: 17px 32px;
  border: none;
  color: #fff;
}
.site-btn.sb-gradients.sbg-line {
  color: #20509e;
  z-index: 1;
}
.site-btn.sb-gradients.sbg-line:after {
  position: absolute;
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #fff;
  top: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 50px;
}

.gradient-bg, .site-btn.sb-gradients {
  background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
  background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
  background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$color-purple", endColorstr="$color-light-blue", GradientType=1);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 575px) {
  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
.row.reverse {
  flex-direction: row-reverse;
}
.row.start {
  justify-content: flex-start;
}
.row.center {
  justify-content: center;
}
.row.end {
  justify-content: flex-end;
}
.row.between {
  justify-content: space-between;
}
.row.around {
  justify-content: space-around;
}
.row.top {
  align-items: top;
}
.row.middle {
  align-items: center;
}
.row.bottom {
  align-items: flex-end;
}
.row.stretch {
  align-items: stretch;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (max-width: 575px) {
  [class*=col-] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
[class*=col-].first {
  order: -1;
}
[class*=col-].last {
  order: 1;
}

.col-lg-1 {
  width: calc(100% / (12 / 1));
}
.col-lg-2 {
  width: calc(100% / (12 / 2));
}
.col-lg-3 {
  width: calc(100% / (12 / 3));
}
.col-lg-4 {
  width: calc(100% / (12 / 4));
}
.col-lg-5 {
  width: calc(100% / (12 / 5));
}
.col-lg-6 {
  width: calc(100% / (12 / 6));
}
.col-lg-7 {
  width: calc(100% / (12 / 7));
}
.col-lg-8 {
  width: calc(100% / (12 / 8));
}
.col-lg-9 {
  width: calc(100% / (12 / 9));
}
.col-lg-10 {
  width: calc(100% / (12 / 10));
}
.col-lg-11 {
  width: calc(100% / (12 / 11));
}
.col-lg-12 {
  width: calc(100% / (12 / 12));
}
.col-lg-offset-1 {
  margin-left: calc(100% / (12 / 1));
}
.col-lg-offset-2 {
  margin-left: calc(100% / (12 / 2));
}
.col-lg-offset-3 {
  margin-left: calc(100% / (12 / 3));
}
.col-lg-offset-4 {
  margin-left: calc(100% / (12 / 4));
}
.col-lg-offset-5 {
  margin-left: calc(100% / (12 / 5));
}
.col-lg-offset-6 {
  margin-left: calc(100% / (12 / 6));
}
.col-lg-offset-7 {
  margin-left: calc(100% / (12 / 7));
}
.col-lg-offset-8 {
  margin-left: calc(100% / (12 / 8));
}
.col-lg-offset-9 {
  margin-left: calc(100% / (12 / 9));
}
.col-lg-offset-10 {
  margin-left: calc(100% / (12 / 10));
}
.col-lg-offset-11 {
  margin-left: calc(100% / (12 / 11));
}
.col-lg-offset-12 {
  margin-left: calc(100% / (12 / 12));
}
.col-lg-offset-0 {
  margin-left: 0;
}
@media (max-width: 991px) {
  .col-md-1 {
    width: calc(100% / (12 / 1));
  }
  .col-md-2 {
    width: calc(100% / (12 / 2));
  }
  .col-md-3 {
    width: calc(100% / (12 / 3));
  }
  .col-md-4 {
    width: calc(100% / (12 / 4));
  }
  .col-md-5 {
    width: calc(100% / (12 / 5));
  }
  .col-md-6 {
    width: calc(100% / (12 / 6));
  }
  .col-md-7 {
    width: calc(100% / (12 / 7));
  }
  .col-md-8 {
    width: calc(100% / (12 / 8));
  }
  .col-md-9 {
    width: calc(100% / (12 / 9));
  }
  .col-md-10 {
    width: calc(100% / (12 / 10));
  }
  .col-md-11 {
    width: calc(100% / (12 / 11));
  }
  .col-md-12 {
    width: calc(100% / (12 / 12));
  }
  .col-md-offset-1 {
    margin-left: calc(100% / (12 / 1));
  }
  .col-md-offset-2 {
    margin-left: calc(100% / (12 / 2));
  }
  .col-md-offset-3 {
    margin-left: calc(100% / (12 / 3));
  }
  .col-md-offset-4 {
    margin-left: calc(100% / (12 / 4));
  }
  .col-md-offset-5 {
    margin-left: calc(100% / (12 / 5));
  }
  .col-md-offset-6 {
    margin-left: calc(100% / (12 / 6));
  }
  .col-md-offset-7 {
    margin-left: calc(100% / (12 / 7));
  }
  .col-md-offset-8 {
    margin-left: calc(100% / (12 / 8));
  }
  .col-md-offset-9 {
    margin-left: calc(100% / (12 / 9));
  }
  .col-md-offset-10 {
    margin-left: calc(100% / (12 / 10));
  }
  .col-md-offset-11 {
    margin-left: calc(100% / (12 / 11));
  }
  .col-md-offset-12 {
    margin-left: calc(100% / (12 / 12));
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    width: calc(100% / (12 / 1));
  }
  .col-sm-2 {
    width: calc(100% / (12 / 2));
  }
  .col-sm-3 {
    width: calc(100% / (12 / 3));
  }
  .col-sm-4 {
    width: calc(100% / (12 / 4));
  }
  .col-sm-5 {
    width: calc(100% / (12 / 5));
  }
  .col-sm-6 {
    width: calc(100% / (12 / 6));
  }
  .col-sm-7 {
    width: calc(100% / (12 / 7));
  }
  .col-sm-8 {
    width: calc(100% / (12 / 8));
  }
  .col-sm-9 {
    width: calc(100% / (12 / 9));
  }
  .col-sm-10 {
    width: calc(100% / (12 / 10));
  }
  .col-sm-11 {
    width: calc(100% / (12 / 11));
  }
  .col-sm-12 {
    width: calc(100% / (12 / 12));
  }
  .col-sm-offset-1 {
    margin-left: calc(100% / (12 / 1));
  }
  .col-sm-offset-2 {
    margin-left: calc(100% / (12 / 2));
  }
  .col-sm-offset-3 {
    margin-left: calc(100% / (12 / 3));
  }
  .col-sm-offset-4 {
    margin-left: calc(100% / (12 / 4));
  }
  .col-sm-offset-5 {
    margin-left: calc(100% / (12 / 5));
  }
  .col-sm-offset-6 {
    margin-left: calc(100% / (12 / 6));
  }
  .col-sm-offset-7 {
    margin-left: calc(100% / (12 / 7));
  }
  .col-sm-offset-8 {
    margin-left: calc(100% / (12 / 8));
  }
  .col-sm-offset-9 {
    margin-left: calc(100% / (12 / 9));
  }
  .col-sm-offset-10 {
    margin-left: calc(100% / (12 / 10));
  }
  .col-sm-offset-11 {
    margin-left: calc(100% / (12 / 11));
  }
  .col-sm-offset-12 {
    margin-left: calc(100% / (12 / 12));
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .col-lg-1, .col-mg-1, .col-sm-1 {
    width: 100%;
  }
  .col-lg-2, .col-mg-2, .col-sm-2 {
    width: 100%;
  }
  .col-lg-3, .col-mg-3, .col-sm-3 {
    width: 100%;
  }
  .col-lg-4, .col-mg-4, .col-sm-4 {
    width: 100%;
  }
  .col-lg-5, .col-mg-5, .col-sm-5 {
    width: 100%;
  }
  .col-lg-6, .col-mg-6, .col-sm-6 {
    width: 100%;
  }
  .col-lg-7, .col-mg-7, .col-sm-7 {
    width: 100%;
  }
  .col-lg-8, .col-mg-8, .col-sm-8 {
    width: 100%;
  }
  .col-lg-9, .col-mg-9, .col-sm-9 {
    width: 100%;
  }
  .col-lg-10, .col-mg-10, .col-sm-10 {
    width: 100%;
  }
  .col-lg-11, .col-mg-11, .col-sm-11 {
    width: 100%;
  }
  .col-lg-12, .col-mg-12, .col-sm-12 {
    width: 100%;
  }
  .col-lg-offset-1, .col-mg-offset-1, .col-sm-offset-1 {
    margin-left: 0;
  }
  .col-lg-offset-2, .col-mg-offset-2, .col-sm-offset-2 {
    margin-left: 0;
  }
  .col-lg-offset-3, .col-mg-offset-3, .col-sm-offset-3 {
    margin-left: 0;
  }
  .col-lg-offset-4, .col-mg-offset-4, .col-sm-offset-4 {
    margin-left: 0;
  }
  .col-lg-offset-5, .col-mg-offset-5, .col-sm-offset-5 {
    margin-left: 0;
  }
  .col-lg-offset-6, .col-mg-offset-6, .col-sm-offset-6 {
    margin-left: 0;
  }
  .col-lg-offset-7, .col-mg-offset-7, .col-sm-offset-7 {
    margin-left: 0;
  }
  .col-lg-offset-8, .col-mg-offset-8, .col-sm-offset-8 {
    margin-left: 0;
  }
  .col-lg-offset-9, .col-mg-offset-9, .col-sm-offset-9 {
    margin-left: 0;
  }
  .col-lg-offset-10, .col-mg-offset-10, .col-sm-offset-10 {
    margin-left: 0;
  }
  .col-lg-offset-11, .col-mg-offset-11, .col-sm-offset-11 {
    margin-left: 0;
  }
  .col-lg-offset-12, .col-mg-offset-12, .col-sm-offset-12 {
    margin-left: 0;
  }
  .col-xs-1 {
    width: calc(100% / (12 / 1));
  }
  .col-xs-2 {
    width: calc(100% / (12 / 2));
  }
  .col-xs-3 {
    width: calc(100% / (12 / 3));
  }
  .col-xs-4 {
    width: calc(100% / (12 / 4));
  }
  .col-xs-5 {
    width: calc(100% / (12 / 5));
  }
  .col-xs-6 {
    width: calc(100% / (12 / 6));
  }
  .col-xs-7 {
    width: calc(100% / (12 / 7));
  }
  .col-xs-8 {
    width: calc(100% / (12 / 8));
  }
  .col-xs-9 {
    width: calc(100% / (12 / 9));
  }
  .col-xs-10 {
    width: calc(100% / (12 / 10));
  }
  .col-xs-11 {
    width: calc(100% / (12 / 11));
  }
  .col-xs-12 {
    width: calc(100% / (12 / 12));
  }
  .col-xs-offset-1 {
    margin-left: calc(100% / (12 / 1));
  }
  .col-xs-offset-2 {
    margin-left: calc(100% / (12 / 2));
  }
  .col-xs-offset-3 {
    margin-left: calc(100% / (12 / 3));
  }
  .col-xs-offset-4 {
    margin-left: calc(100% / (12 / 4));
  }
  .col-xs-offset-5 {
    margin-left: calc(100% / (12 / 5));
  }
  .col-xs-offset-6 {
    margin-left: calc(100% / (12 / 6));
  }
  .col-xs-offset-7 {
    margin-left: calc(100% / (12 / 7));
  }
  .col-xs-offset-8 {
    margin-left: calc(100% / (12 / 8));
  }
  .col-xs-offset-9 {
    margin-left: calc(100% / (12 / 9));
  }
  .col-xs-offset-10 {
    margin-left: calc(100% / (12 / 10));
  }
  .col-xs-offset-11 {
    margin-left: calc(100% / (12 / 11));
  }
  .col-xs-offset-12 {
    margin-left: calc(100% / (12 / 12));
  }
}
.col-auto {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (max-width: 575px) {
  .col-auto {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.header-section {
  position: absolute;
  width: 100%;
}
@media (max-width: 767px) {
  .header-section {
    padding: 30px 0;
    background: #fff;
  }
}
.header-section .responsive-bar {
  display: none;
}
@media (max-width: 767px) {
  .header-section .responsive-bar {
    float: right;
    font-size: 32px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
}
.header-section .user {
  display: none;
}
@media (max-width: 767px) {
  .header-section .user {
    float: right;
    font-size: 30px;
    color: #1d488a;
    margin-right: 20px;
    display: block;
  }
}
.header-nav {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 10px 0;
  padding: 10px 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-nav.nav-fixed {
  margin: 0;
  background: #fff;
}

.mr-2 {
  margin-right: 8px;
}

.pb-3 {
  padding-bottom: 16px !important;
}

.mt {
  margin-top: 48px;
}

@media (min-width: 992px) {
  .pl-lg-5, .px-lg-5 {
    padding-left: 48px;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  .pb-lg-0, .py-lg-0 {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .text-lg-right {
    text-align: right !important;
  }
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  float: right;
  transition: all 0.3s ease;
}
.navigation li a {
  display: block;
  padding: 0 16px;
  color: #007bff;
  font-size: 14px;
  text-transform: uppercase;
}
.navigation li a:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #007bff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation li:first-child a {
  padding-left: 20px;
}
.navigation li:last-child a {
  padding-right: 0;
}
@media (max-width: 767px) {
  .navigation li {
    display: block;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .navigation {
    float: none;
  }
}
@media (max-width: 767px) {
  .navigation {
    position: fixed;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
    box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  }
  .navigation li {
    width: 100%;
  }
  .navigation li:first-child a {
    padding-left: 10px;
  }
  .navigation li a {
    padding: 10px;
  }
  .navigation.active {
    height: 100%;
  }
}

.about-section {
  background-color: #fff;
}
.about-text h2 {
  margin-bottom: 25px;
}
.about-text h5 {
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}
.about-img {
  position: absolute;
  top: 0;
  left: -50px;
}
@media (max-width: 1199px) {
  .about-img {
    width: 480px;
    left: 0;
  }
}
@media (max-width: 991px) {
  .about-img {
    position: relative;
    display: block;
    left: 40px;
    width: auto;
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .about-img {
    left: 0;
    margin-top: 0;
  }
}

.blog-section {
  background: #f3f7f9;
}
.blog-thumb {
  margin-bottom: 0;
}
.blog-text {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
  box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
}
@media (max-width: 575px) {
  .blog-text {
    padding: 15px;
  }
}
.blog-text .post-date {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #2dd3aa;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  letter-spacing: 2px;
}
.blog-text .blog-title {
  margin-bottom: 20px;
}
.blog-text .blog-title a {
  color: #1d488a;
}
.blog-text .post-meta a {
  font-size: 13px;
  color: #75849a;
  margin-right: 22px;
}
.blog-text .post-meta a span {
  color: #acb9cc;
}
.blog-text .post-meta a i {
  color: #2dd3aa;
}
.blog-image {
  display: block;
  height: auto;
  max-width: 100%;
  min-width: 100%;
}
@media (max-width: 575px) {
  .blog-item {
    margin-bottom: 30px;
  }
}

.fact {
  display: flex;
  position: relative;
  margin-left: auto;
}
.fact-section {
  padding: 70px 0;
}
.fact h2 {
  float: left;
  color: #2dd3aa;
  font-size: 60px;
  margin-right: 20px;
}
@media (max-width: 1199px) {
  .fact h2 {
    font-size: 40px;
    margin-right: 10px;
    padding-top: 15px;
  }
}
.fact p {
  float: left;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
}
.fact i {
  position: absolute;
  right: 0;
  font-size: 90px;
  color: #fff;
  z-index: 0;
  opacity: 0.2;
}
@media (max-width: 991px) {
  .fact i {
    font-size: 75px;
  }
}
@media (max-width: 991px) {
  .fact {
    margin-bottom: 30px;
  }
}

.feature {
  margin-bottom: 45px;
}
.feature .read-more {
  text-decoration: underline;
  color: #fff;
}
.feature i {
  font-size: 48px;
  float: left;
  padding-top: 20px;
}
.feature-content {
  padding-left: 70px;
}
.feature-content h4 {
  margin-bottom: 15px;
  color: #fff;
}
.feature-content p {
  color: #fff;
}

.hero-section {
  height: 900px;
  padding-top: 260px;
  display: block;
  background-color: #f3f7f9;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .hero-section {
    height: 730px;
    padding-top: 160px;
  }
}
@media (max-width: 575px) {
  .hero-section {
    height: 900px;
  }
}
.hero-text {
  padding-top: 60px;
}
.hero-text h4 {
  color: #75849a;
  font-size: 22px;
}
.hero-text h2 {
  font-size: 60px;
  margin-bottom: 35px;
}
.hero-text h2 span {
  color: #2dd3aa;
}
@media (max-width: 991px) {
  .hero-text h2 {
    font-size: 44px;
  }
}
@media (max-width: 575px) {
  .hero-text h2 {
    font-size: 40px;
  }
}
.hero-image {
  display: block;
  height: auto;
  max-width: 100%;
  min-width: 100%;
}
@media (max-width: 575px) {
  .hero-image {
    margin-top: 70px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #007bff;
  font-size: 26px;
  border: solid 2px #007bff;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .logo {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

.newsletter-section {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .newsletter-section {
    text-align: center;
  }
}
.newsletter-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .newsletter-text h2 {
    font-size: 35px;
  }
}
.newsletter-text p {
  margin-bottom: 0;
  margin-top: 0;
}
.newsletter-form {
  position: relative;
  margin-top: 20px;
  padding-left: 40px;
}
.newsletter-form input {
  width: 100%;
  font-size: 16px;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  padding-right: 160px;
  background: rgba(255, 255, 255, 0.2);
}
.newsletter-form input::placeholder {
  color: #fff;
}
.newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  border-radius: 0px 50px 50px 0px;
  min-width: 140px;
  background: #fff;
  color: #20509e;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 575px) {
  .newsletter-form button {
    position: relative;
    padding: 14px;
    border-radius: 50px;
    margin-top: 23px;
  }
}
@media (max-width: 575px) {
  .newsletter-form {
    padding-left: 0;
  }
}

.process-step {
  position: relative;
  text-align: center;
  padding: 35px;
  margin-top: 30px;
  -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
}
.process-step:after {
  position: absolute;
  content: "";
  width: 275px;
  height: 56px;
  top: -40px;
  right: -40%;
  background: url(../images/process-line.png) no-repeat scroll 0 0/cover;
}
@media (max-width: 991px) {
  .process-step:after {
    width: 154px;
    height: 35px;
    top: -10px;
    right: -44%;
    background-size: contain;
  }
}
@media (max-width: 575px) {
  .process-step:after {
    display: none;
  }
}
.process-step h4 {
  margin-bottom: 15px;
}
.process-step p {
  margin-bottom: 0;
}
.process-icon {
  height: 55px;
  margin-bottom: 30px;
  padding-top: 5px;
}

.process:last-child .process-step:after {
  display: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
@media (max-width: 1199px) {
  .container {
    max-width: 991px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 90px;
}

.text-white * {
  color: #fff;
}

.section-title {
  margin-bottom: 60px;
}
.section-title h2 {
  margin-bottom: 20px;
}
.section-title p {
  margin-bottom: 0;
}

/*# sourceMappingURL=app.css.map */
