.container {
	margin-right: auto;
	margin-left: auto;
	max-width: $lg + 1 - $grid-column-gutter;
    padding-left: $grid-column-gutter;
    padding-right: $grid-column-gutter;
    position: relative;

    @include breakpoint(lg) {
       max-width: $md;
    }

    @include breakpoint(md) {
       max-width: $sm;
    }

    @include breakpoint(sm) {
       max-width: 100%;
    }

    @include breakpoint(xs) {
	    padding-left: $grid-column-gutter/2;
	    padding-right: $grid-column-gutter/2;
    }

    &-fluid {
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	    position: relative;
	    width: 100%;
	}

}

.align-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.section-padding {
	padding-top: 100px;
	padding-bottom: 90px;
}

.text-white * {
	color: $primary-color;
}

.section-title {
	margin-bottom: 60px;
	h2 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 0;
	}
}