.footer {
	&-widget {
		p {
			margin-bottom: 20px;
		}
		span {
			color: $color-light-gray;
		}
		.widget-title {
			margin-bottom: 30px;
			font-size: 20px;
		}
		ul {
			@include list-reset;
			a {
				font-size: 16px;
				color: $color-text-p;
				display: block;
				margin-bottom: 12px;
			}
		}
		@include breakpoint(xs) {
			margin-bottom: 30px;
		}
	}
	&-bottom {
		border-top: 1px solid #ebebeb;
		padding: 30px 0;
	}
	&-nav {
		list-style: none;
		li {
			display: inline-block;
			a {
				color: $color-text-p;
				font-size: 14px;
				margin-left: 20px;
			}
		}
		@include breakpoint(xs) {
			padding: 0;
			margin: 0;
		}
	}
}

.social {
	a {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		color: $primary-color;
		display: inline-block;
		margin-right: 10px;
		text-align: center;
		padding-top: 7px;
		font-size: 18px;
		&:last-child {
			margin-right: 0;
		}
	}
	.facebook {
		background: $color-facebook;
	}
	.google {
		background: $color-google;
	}
	.instagram {
		background: $color-instagram;
	}
	.twitter {
		background: $color-twitter;
	}
}