.hero-subscribe {
	margin-top: 50px;
	display: block;
	input {
		width: 315px;
		border: 1px solid $color-border;
		background: $primary-color;
		height: 48px;
		padding: 0 25px;
		border-radius: 50px;
		font-family: $font-heading;
		font-size: 16px;
		margin-right: 8px;
		margin-bottom: 20px;
	}
}

.site-btn {
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	border-radius: 50px;
	font-family: $font-heading;
	min-width: 170px;
	text-align: center;
	cursor: pointer;
	color: $primary-color;
	&.sb-gradients {
		padding: 17px 32px;
		border: none;
		color: $primary-color;
		&.sbg-line {
			color: $color-h-text;
			z-index: 1;
			&:after {
				position: absolute;
				content: '';
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				background: $primary-color;
				top: 2px;
				left: 2px;
				z-index: -1;
				border-radius: 50px;
			}
		}
	}
}