.gradient-bg, .site-btn.sb-gradients {
	background: -webkit-gradient(linear, left top, right top, from($color-purple), color-stop(100%, $color-light-blue), color-stop(100%, $color-light-blue), to($color-light-blue));
	background: -o-linear-gradient(left, $color-purple 0%, $color-light-blue 100%, $color-light-blue 100%, $color-light-blue 100%);
	background: linear-gradient(to right, $color-purple 0%, $color-light-blue 100%, $color-light-blue 100%, $color-light-blue 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-purple', endColorstr='$color-light-blue', GradientType=1);
}