.header {
	&-section {
		position: absolute;
		width: 100%;
		@include breakpoint(sm) {
			padding: 30px 0;
			background: $primary-color;
		}
		.responsive-bar {
			display: none;
			@include breakpoint(sm) {
				float: right;
				font-size: 32px;
				display: block;
				cursor: pointer;
				position: relative;
				z-index: 999;
			}
		}
		.user {
			display: none;
			@include breakpoint(sm) {
				float: right;
				font-size: 30px;
				color: $color-dark-blue;
				margin-right: 20px;
				display: block;
			}
		}	 
	}
	&-nav {
		position: fixed;
		width: 100%;
		top: 0;
		margin: 10px 0;
		padding: 10px 0;
		z-index: 99;
		-webkit-transition: $transition;
		transition: $transition;
		&.nav-fixed {
			margin: 0;
			background: $primary-color;
		}		
	}
}