.mr-2 {
	margin-right: 8px;
}

.pb-3 {
	padding-bottom: 16px!important;
}

.mt {
	margin-top: 48px;
}

@media (min-width: 992px) {
	.pl-lg-5, .px-lg-5 {
		padding-left: 48px;
	}
}

@media (min-width: 992px) {
	.text-lg-left {
		text-align: left!important;
	}
}

@media (min-width: 992px) {
	.pb-lg-0, .py-lg-0 {
		padding-bottom: 0;
	}
}

@media (min-width: 992px) {
	.text-lg-right {
		text-align: right!important;
	}
}