.navigation {
	@include list-reset;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	float: right;
	transition: $transition;
	li {
		a {
			display: block;
			padding: 0 16px;
			color: $color-blue;
			font-size: $a;
			text-transform: uppercase;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 0;
				background-color: $color-blue;
				opacity: 0;
				-webkit-transition: $transition;
				transition: $transition;
			}
		}
		&:first-child a {
			padding-left: 20px;
		}
		&:last-child a {
			padding-right: 0;
		}
		@include breakpoint (sm) {
			display: block;
			text-align: center;
		}
	}

	@include breakpoint(md) {
		float: none;
	}
	@include breakpoint(sm) {
		position: fixed;
		width: 100%;
		left: 0;
		overflow: hidden;
		top: 0;
		height: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #fff;
		-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		li {
			width: 100%;
			&:first-child a {
				padding-left: 10px;
			}
			a {
				padding: 10px;
			}
		}
		&.active {
			height: 100%;
		}
	}
}