.about {
	&-section {
		background-color: $primary-color;
	}

	&-text {
		h2 {
			margin-bottom: 25px;
		}
		h5 {
			font-family: $font-stack;
			margin-bottom: 20px;
		}
	}
	&-img {
		position: absolute;
		top: 0;
		left: -50px;
		@include breakpoint(lg) {
			width: 480px;
			left: 0;
		}
		@include breakpoint(md) {
			position: relative;
			display: block;
			left: 40px;
			width: auto;
			margin-top: 50px;
		}
		@include breakpoint(xs) {
			left: 0;
			margin-top: 0;
		}
	}
}