.blog {
	&-section{
		background: $color-background;
	}
	&-thumb {
		margin-bottom: 0;
	}
	&-text {
		background: $primary-color;
		padding: 30px;
		-webkit-box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
		box-shadow: 0px 23px 49px rgba(33, 54, 61, 0.1);
		@include breakpoint(xs) {
			padding: 15px;
		}
		.post-date {
			font-size: 14px;
			font-family: $font-heading;
			color: $color-light-blue;
			text-transform: uppercase;
			margin-bottom: 15px;
			display: block;
			letter-spacing: 2px;
		}
		.blog-title {
			margin-bottom: 20px;
			a {
				color: $color-dark-blue;
			}
		}
		.post-meta {
			a {
				font-size: 13px;
				color: $color-text-p;
				margin-right: 22px;
				span {
					color: $color-light-gray;
				}
				i {
					color: $color-light-blue;
				}
			}
		}
	}
	&-image {
		@include responsive-img;
	}
	&-item {
		@include breakpoint (xs) {
			margin-bottom: 30px;
		}
	}
}




