.fact {
	display: flex;
	position: relative;
	margin-left: auto;
	&-section {
		padding: 70px 0;
	}
	h2 {
		float: left;
		color: $color-light-blue;
		font-size: 60px;
		margin-right: 20px;
		@include breakpoint(lg) {
			font-size: 40px;
			margin-right: 10px;
			padding-top: 15px;
		}
	}
	p {
		float: left;
		line-height: 1.4;
		color: $primary-color;
		text-transform: uppercase;
	}
	i {
		position: absolute;
		right: 0;
		font-size: 90px;
		color: $primary-color;
		z-index: 0;
		opacity: 0.2;
		@include breakpoint(md) {
			font-size: 75px;
		}
	}
	@include breakpoint(md) {
		margin-bottom: 30px;
	}
}