.feature {
	margin-bottom: 45px;
	.read-more {
		text-decoration: underline;
		color: $primary-color;
	}
	i {
		font-size: 48px;
		float: left;
		padding-top: 20px;
	}
	&-content {
		padding-left: 70px;
		h4 {
			margin-bottom: 15px;
			color: $primary-color;
		}
		p {
			color: $primary-color;
		}
	}
}