.hero {
    &-section {
        height: 900px;
        padding-top: 260px;
        display: block;
        background-color: $color-background;
        position: relative;
        overflow: hidden;
        @include breakpoint(md) {
            height: 730px;
            padding-top: 160px;
        }
        @include breakpoint(xs) {
            height: 900px;
        }
    }
    &-text {
        padding-top: 60px;
        h4 {
            color: $color-text-p;
            font-size: $h4;
        }
        h2 {
            font-size: 60px;
            margin-bottom: 35px;
            span {
                color: $color-light-blue;
            }
            @include breakpoint(md) {
                font-size: 44px;
            }
            @include breakpoint(xs) {
                font-size: 40px;
            }
        }
    }

    &-image {
        @include responsive-img;
        @include breakpoint(xs) {
            margin-top: 70px;
        }
    }
}