.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	color: $color-blue;
	font-size: 26px;
	border: solid 2px $color-blue;
	border-radius: 100%;
	@include breakpoint (sm) {
		width: 50px;
		height: 50px;
		font-size: 20px;
	}
}