.newsletter {
	&-section {
		padding: 50px 0;
		@include breakpoint(md) {
			text-align: center;
		}
	}
	&-text {
		h2 {
			font-size: 30px;
			margin-bottom: 10px;
			@include breakpoint(xs) {
				font-size: 35px;
			}
		}
		p {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	&-form {
		position: relative;
		margin-top: 20px;
		padding-left: 40px;
		input {
			width: 100%;
			font-size: 16px;
			padding: 12px 30px;
			border: none;
			border-radius: 50px;
			padding-right: 160px;
			background: rgba(255, 255, 255, 0.2);
			&::placeholder{
				color: $primary-color;
			}
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			border: none;
			border-radius: 0px 50px 50px 0px;
			min-width: 140px;
			background: $primary-color;
			color: $color-h-text;
			font-size: 15px;
			font-weight: 600;
			cursor: pointer;
			@include breakpoint(xs) {
				position: relative;
				padding: 14px;
				border-radius: 50px;
				margin-top: 23px;
			}
		}
		@include breakpoint(xs) {
			padding-left: 0;
		}
	}
}

// @media only screen and (max-width: 991px) and (min-width: 768px) {
// 	.newsletter-section {
// 		text-align: center;
// 	}
// }