.process {
	&-step {
		position: relative;
		text-align: center;
		padding: 35px;
		margin-top: 30px;
		-webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
		&:after {
			position: absolute;
			content: '';
			width: 275px;
			height: 56px;
			top: -40px;
			right: -40%;
			background: url(../images/process-line.png) no-repeat scroll 0 0/cover;
			@include breakpoint(md) {
				width: 154px;
				height: 35px;
				top: -10px;
				right: -44%;
				background-size: contain;
			}
			@include breakpoint(xs) {
				display: none;
			}
		}
		h4 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 0;
		}
	}
	&-icon {
		height: 55px;
		margin-bottom: 30px;
		padding-top: 5px;
	}
}

.process:last-child .process-step:after {
	display: none;
}