html, body {
	height: 100%;
	font: 100% $font-stack;
}

body {
	margin: 0;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: $color-dark-blue;
    background-color: $primary-color;
}

*, ::after, ::before {
    box-sizing: border-box;
}    

a {
    text-decoration: none;
    -webkit-transition: $transition;
    transition: $transition;
    &:hover {
        text-decoration: none;
        outline: none;
    }
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

p {
    font-size: $p;
    color: $color-text-p;
    line-height: 1.6;
}

h2 {
    font-size: $h2;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-h-text;
    margin: 0;
    font-weight: 500;
    font-family: $font-heading;
    line-height: 1.2;
}

header {
    @include clearfix;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0 0 1rem;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
}

button {
    text-align: center;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

