// colors
$primary-color: #fff;
$color-purple: #3e2bce;
$color-h-text: #20509e;
$color-text-p: #75849a;
$color-light-gray: #acb9cc;
$color-light-blue: #2dd3aa;
$color-dark-blue: #1d488a;
$color-blue: #007bff;
$color-background: #f3f7f9;
$color-border: #e1e1e1;
$color-facebook: #4b6cd0;
$color-google: #f03b3b;
$color-instagram: #bb8950;
$color-twitter: #49a7f3;

// fonts
$font-stack: "Lato", sans-serif;
$font-heading: 'Nunito', sans-serif;

// font sizes
$h2: 48px;
$h4: 22px;
$h5: 20px;
$p: 16px;
$a: 14px;

// transitions
$transition: all .3s ease;

// Grid
$grid-columns: 12;
$grid-column-gutter: 30px;

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;